@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap')
    
$darkViolet: hsl(256, 26%, 20%)
$GrayishBlue: hsl(216, 30%, 68%)

$veryDarkViolet: hsl(270, 9%, 17%)
$darkGrayishViolet: hsl(273, 4%, 51%)
$veryLightGray: hsl(0, 0%, 98%)

$font-family-body: 'Karla'
$font-family-head: 'DM Serif Display'

body
    margin: 0
    padding: 0
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: center
    height: 100vh
    width: 100wv
header
    width: 100vw
    min-height: 80px    
    .menu-mobile
        display: flex
        flex-direction: column
        height: 100%
        justify-content: center
        .content-logo-button
            display: flex
            align-items: center
            justify-content: space-around
            .wrapper-logo
                    margin-right: 150px
            button
                border: none
                cursor: pointer
                background-color: transparent
.menu-desplegable
    width: 100%
    height: auto
    font-family: $font-family-body
    background-color: $veryDarkViolet
    color: $veryLightGray
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 50px
    font-size: 1.3rem
    font-weight: 400
    ul        
        list-style-image: none
        list-style-type: none
        font-weight: 600
        text-align: center
        margin-bottom: 10px 
        padding: 0px
        text-transform: uppercase
    li
        text-align: center        
        padding: 8px
        cursor: pointer        
        margin-top: 20px
        &:nth-child(1)                    
            margin-top: 30px
        &:hover
            text-decoration: underline   
    button
            border: 2px solid $veryLightGray
            cursor: pointer
            background-color: transparent
            color: $veryLightGray
            font-family: $font-family-body
            font-size: 1.3rem
            text-transform: uppercase
            padding: 20px 30px            
            width: 90%
            margin-top: 15px
            &:hover
                background-color: $veryLightGray
                color: $darkViolet        
    img
        margin-top: 60px

main  
    display: flex
    flex-direction: column
    justify-content: center
    align-content: center

    section
        background-color: $darkViolet
        display: flex
        flex-direction: column
        align-items: center
        position: relative                
        
        .wrapper-section
            background-image: url('../images/bg-pattern-intro-left-mobile.svg')
            background-repeat: no-repeat
            background-position-x: left
            background-position-y: top
            display: flex
            flex-direction: column
            align-items: center
            margin-top: -4px
            height: 500px
        .wrapper-content-section
            display: flex
            flex-direction: column
            width: 85%
            align-items: center
            justify-content: center
            margin-top: 55px
            h1
                font-family: $font-family-head
                font-size: 2.85rem
                text-align: center
                color: $veryLightGray
                letter-spacing: 0
                font-weight: 400
                line-height: 2.9rem
            p
                text-align: center
                font-family: $font-family-body
                color: $veryLightGray
                margin-top: -20px
                line-height: 1.6rem
            button
                border: 1px solid $veryLightGray
                cursor: pointer
                background-color: transparent
                color: $veryLightGray
                font-family: $font-family-body
                font-size: 0.9rem
                text-transform: uppercase
                padding: 10px 30px
                margin-top: 15px
                &:hover
                    background-color: $veryLightGray
                    color: $darkViolet
        
    .cards
        background-color: white
        display: flex
        flex-direction: column
        align-content: center
        position: relative
        
        .pattern-left2
            position: absolute
            right: 0%
            top: -14%
        .line
            border: 0.3px solid $darkViolet
            width: 40%
            margin-top: 140px
            opacity: 0.3
        h1
            font-family: $font-family-head
            font-size: 2.85rem
            text-align: center
            color: $veryDarkViolet
            letter-spacing: 0.1rem
            font-weight: 400
            line-height: 2.7rem
        .wrapper-cards
            display: flex
            flex-direction: column
            align-content: center
            width: 85%
            .card
                display: flex
                flex-direction: column
                align-content: center
                .icon
                    width: 90px
                    height: 90px
                    align-self: center
                    margin-top: 40px
                h2
                    align-self: center
                    font-family: $font-family-head
                    color: $veryDarkViolet
                    font-size: 1.8rem
                    font-weight: 400
                p
                    align-self: center
                    font-family: $font-family-body
                    text-align: center
                    color: $darkGrayishViolet
                    line-height: 1.8rem
                    margin-top: -5px
    .we-work
        width: 85%
        position: relative
        display: flex
        flex-direction: column
        align-content: center
        align-self: center
        margin-top: 120px
        .img-pattern-work
            position: absolute
            right: 0%
        h2
            font-family: $font-family-head
            font-size: 2.5rem
            text-align: center
            color: $veryLightGray
            letter-spacing: 0
            font-weight: 400
            line-height: 2.7rem
            padding: 35px
        button
            border: 2px solid $veryLightGray
            cursor: pointer
            background-color: transparent
            color: $veryLightGray
            font-family: $font-family-body
            font-size: 0.9rem
            text-transform: uppercase
            padding: 10px 30px
            margin-top: -40px
            margin-bottom: 80px
            &:hover
                background-color: $veryLightGray
                color: $darkViolet
footer
    margin-top: 120px
    background-color: $veryLightGray
    width: 100%
    background-image: url('../images/bg-pattern-footer-mobile.svg')
    background-repeat: no-repeat
    background-position: top    
    display: flex
    flex-direction: column
    .header
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        margin-top: 90px
        .wrapper-logo
            align-self: center
        .social-media
            align-self: center
            margin: 20px
            i   
                cursor: pointer              
                margin: 5px
                &:hover
                    svg
                        path
                            fill: $darkViolet
    
    .line-footer
        border: 1px solid $darkGrayishViolet
        opacity: 0.3
        width: 85%
        align-self: center
    .box-footer
        font-family: $font-family-body
        align-self: center
        text-transform: uppercase
        font-size: 0.9rem
        margin-top: 20px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        ul
            color: $darkGrayishViolet
            list-style-image: none
            list-style-type: none
            font-weight: 600
            text-align: center
            margin-bottom: 10px 
            padding: 0px
            li
                text-align: center
                color: $veryDarkViolet
                padding: 8px
                cursor: pointer
                &:nth-child(1)                    
                    margin-top: 20px
                &:hover
                    text-decoration: underline

.no-visible       
    display: none
                         