@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100wv;
}

header {
  width: 100vw;
  min-height: 80px;
}
header .menu-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
header .menu-mobile .content-logo-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .menu-mobile .content-logo-button .wrapper-logo {
  margin-right: 150px;
}
header .menu-mobile .content-logo-button #btn-menu {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
@media (min-width: 1223px) {
  header .menu-mobile .content-logo-button #btn-menu {
    display: none;
  }
}
header .menu-mobile .menu-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Karla";
  color: #837d87;
}
@media (max-width: 1223px) {
  header .menu-mobile .menu-desktop {
    display: none;
  }
}
header .menu-mobile .menu-desktop ul {
  display: inline-flex;
  list-style-type: none;
  font-weight: 600;
  text-align: center;
  padding: 0px;
  margin-right: 20px;
  text-transform: uppercase;
}
header .menu-mobile .menu-desktop li {
  text-align: center;
  cursor: pointer;
  margin-right: 20px;
}
header .menu-mobile .menu-desktop li:hover {
  text-decoration: underline;
}
header .menu-mobile .menu-desktop li:nth-child(1) {
  margin-left: 20px;
}
header .menu-mobile .menu-desktop button {
  border: 2px solid #2b272f;
  cursor: pointer;
  background-color: transparent;
  color: #2b272f;
  font-family: "Karla";
  font-size: 1rem;
  text-transform: uppercase;
  padding: 8px 13px;
  width: 150px;
  font-weight: 600;
}
header .menu-mobile .menu-desktop button:hover {
  background-color: #2b272f;
  color: #837d87;
}

.menu-desplegable {
  width: 100%;
  height: auto;
  font-family: "Karla";
  background-color: #2b272f;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: 1.3rem;
  font-weight: 400;
}
@media (min-width: 1223px) {
  .menu-desplegable {
    display: none;
  }
}
.menu-desplegable ul {
  list-style-image: none;
  list-style-type: none;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px;
  text-transform: uppercase;
}
.menu-desplegable li {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  margin-top: 20px;
}
.menu-desplegable li:nth-child(1) {
  margin-top: 30px;
}
.menu-desplegable li:hover {
  text-decoration: underline;
}
.menu-desplegable button {
  border: 2px solid #fafafa;
  cursor: pointer;
  background-color: transparent;
  color: #fafafa;
  font-family: "Karla";
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 20px 30px;
  width: 90%;
  margin-top: 15px;
}
.menu-desplegable button:hover {
  background-color: #fafafa;
  color: #2d2640;
}
.menu-desplegable img {
  margin-top: 60px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
main section {
  background-color: #2d2640;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
@media (max-width: 1223px) {
  main section .pattern-desktop {
    display: none;
  }
}
@media (min-width: 1223px) {
  main section .pattern-desktop {
    position: absolute;
    z-index: 3;
    right: 0%;
    top: 0%;
  }
}
@media (min-width: 1223px) {
  main section {
    height: 650px;
    align-items: flex-start;
  }
}
@media (min-width: 1223px) {
  main section .wrapper-image-mobile img {
    display: none;
  }
}
main section .wrapper-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4px;
  height: 500px;
  position: relative;
}
main section .wrapper-section .pattern-mobile {
  position: absolute;
  top: 0%;
  left: 0%;
}
@media (min-width: 1223px) {
  main section .wrapper-section .pattern-mobile {
    display: none;
  }
}
@media (min-width: 1223px) {
  main section .wrapper-section {
    align-items: flex-start;
    height: 650px;
    justify-content: center;
  }
}
main section .wrapper-content-section {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
@media (min-width: 1223px) {
  main section .wrapper-content-section {
    align-items: center;
    justify-content: center;
    width: 35%;
    margin-left: 120px;
    margin-top: 0px;
    height: 100%;
  }
}
main section .wrapper-content-section .line {
  background-color: white;
  height: 0.3px;
  width: 30%;
  align-self: flex-start;
  margin-bottom: 30px;
}
@media (max-width: 1223px) {
  main section .wrapper-content-section .line {
    display: none;
  }
}
main section .wrapper-content-section h1 {
  font-family: "DM Serif Display";
  font-size: 2.85rem;
  text-align: center;
  color: #fafafa;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 2.9rem;
  margin-top: 30px;
}
@media (min-width: 1223px) {
  main section .wrapper-content-section h1 {
    text-align: left;
    font-size: 4rem;
    line-height: 4rem;
    margin-bottom: 30px;
  }
}
main section .wrapper-content-section p {
  text-align: center;
  font-family: "Karla";
  color: #fafafa;
  margin-top: 20px;
  line-height: 1.6rem;
}
@media (min-width: 1223px) {
  main section .wrapper-content-section p {
    text-align: left;
  }
}
main section .wrapper-content-section button {
  border: 1px solid #fafafa;
  cursor: pointer;
  background-color: transparent;
  color: #fafafa;
  font-family: "Karla";
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 30px;
  margin-top: 25px;
}
main section .wrapper-content-section button:hover {
  background-color: #fafafa;
  color: #2d2640;
}
@media (min-width: 1223px) {
  main section .wrapper-content-section button {
    align-self: flex-start;
  }
}
@media (max-width: 1223px) {
  main section .wrapper-image-desktop {
    display: none;
  }
}
@media (min-width: 1223px) {
  main section .wrapper-image-desktop img {
    position: absolute;
    right: 11%;
    top: 20%;
    z-index: 2;
  }
}
main .cards {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}
main .cards .pattern-left2 {
  position: absolute;
  right: 0%;
  top: -17%;
}
@media (min-width: 1223px) {
  main .cards .pattern-left2 {
    display: none;
  }
}
main .cards .pattern-left-desktop {
  position: absolute;
  left: 0%;
  top: -26%;
}
@media (max-width: 1223px) {
  main .cards .pattern-left-desktop {
    display: none;
  }
}
main .cards .cards-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1223px) {
  main .cards .cards-container {
    margin-top: 130px;
    margin-left: 120px;
    align-items: flex-start;
  }
}
main .cards .cards-container h1 {
  font-family: "DM Serif Display";
  font-size: 2.85rem;
  text-align: center;
  color: #2b272f;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 2.7rem;
}
@media (min-width: 1223px) {
  main .cards .cards-container h1 {
    text-align: left;
    margin-top: 80px;
    font-size: 4rem;
  }
}
main .cards .cards-container .line {
  height: 0.5px;
  background-color: #2d2640;
  width: 10%;
  margin-top: 140px;
  opacity: 0.3;
}
@media (max-width: 1223px) {
  main .cards .cards-container .line {
    display: none;
  }
}
main .cards .wrapper-cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 85%;
}
@media (min-width: 1223px) {
  main .cards .wrapper-cards {
    flex-direction: row;
  }
}
main .cards .wrapper-cards .card {
  display: flex;
  flex-direction: column;
  align-content: center;
}
@media (min-width: 1223px) {
  main .cards .wrapper-cards .card {
    margin-top: 80px;
  }
}
main .cards .wrapper-cards .card .icon {
  width: 90px;
  height: 90px;
  align-self: center;
  margin-top: 40px;
}
@media (min-width: 1223px) {
  main .cards .wrapper-cards .card .icon {
    align-self: flex-start;
    margin-top: 25px;
  }
}
main .cards .wrapper-cards .card h2 {
  align-self: center;
  font-family: "DM Serif Display";
  color: #2b272f;
  font-size: 1.8rem;
  font-weight: 400;
}
@media (min-width: 1223px) {
  main .cards .wrapper-cards .card h2 {
    align-self: flex-start;
    margin-top: 25px;
  }
}
main .cards .wrapper-cards .card p {
  align-self: center;
  font-family: "Karla";
  text-align: center;
  color: #837d87;
  line-height: 1.8rem;
  margin-top: -5px;
}
@media (min-width: 1223px) {
  main .cards .wrapper-cards .card p {
    align-self: flex-start;
    text-align: left;
    margin-top: 25px;
  }
}
main .we-work {
  width: 85%;
  height: 330px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  margin-top: 120px;
}
@media (min-width: 1223px) {
  main .we-work {
    height: 250px;
    margin-top: 220px;
  }
}
main .we-work .img-pattern-work {
  position: absolute;
  right: 0%;
  z-index: 0;
}
@media (min-width: 1223px) {
  main .we-work .img-pattern-work {
    display: none;
  }
}
main .we-work .img-pattern-work-desktop {
  position: absolute;
  right: 0%;
}
@media (max-width: 1223px) {
  main .we-work .img-pattern-work-desktop {
    display: none;
  }
}
main .we-work .content-we-work {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1223px) {
  main .we-work .content-we-work {
    flex-direction: row;
    height: 250px;
    justify-content: space-around;
  }
}
main .we-work h2 {
  font-family: "DM Serif Display";
  font-size: 2.5rem;
  text-align: center;
  color: #fafafa;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 2.7rem;
  padding: 35px;
}
@media (min-width: 1223px) {
  main .we-work h2 {
    font-size: 3.5rem;
    width: 42%;
    text-align: left;
    padding: 0px;
    margin-left: 60px;
    line-height: 3.5rem;
  }
}
main .we-work button {
  border: 2px solid #fafafa;
  cursor: pointer;
  background-color: transparent;
  color: #fafafa;
  font-family: "Karla";
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 30px;
  margin-bottom: 80px;
  z-index: 2;
}
@media (min-width: 1223px) {
  main .we-work button {
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;
    margin-right: 60px;
  }
}
main .we-work button:hover {
  background-color: #fafafa;
  color: #2d2640;
}

footer {
  margin-top: 120px;
  background-color: #fafafa;
  width: 100%;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1223px) {
  footer {
    background-image: url("../images/bg-pattern-footer-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: left;
  }
}
footer .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 90px;
}
@media (min-width: 1223px) {
  footer .header {
    flex-direction: row;
    justify-content: space-between;
  }
}
footer .header .wrapper-logo {
  align-self: center;
}
@media (min-width: 1223px) {
  footer .header .wrapper-logo {
    margin-left: 115px;
    margin-bottom: 25px;
  }
}
footer .header .social-media {
  align-self: center;
  margin: 20px;
}
@media (min-width: 1223px) {
  footer .header .social-media {
    margin: 0px;
    margin-right: 110px;
    margin-bottom: 25px;
  }
}
footer .header .social-media i {
  cursor: pointer;
  margin: 5px;
}
footer .header .social-media i:hover svg path {
  fill: #2d2640;
}
footer .line-footer {
  height: 0.5px;
  background-color: #837d87;
  width: 85%;
  align-self: center;
}
footer .box-footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 1223px) {
  footer .box-footer-container {
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 115px;
  }
}
footer .box-footer {
  font-family: "Karla";
  align-self: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .box-footer ul {
  color: #837d87;
  list-style-image: none;
  list-style-type: none;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px;
}
@media (min-width: 1223px) {
  footer .box-footer ul {
    margin-right: 200px;
    text-align: left;
  }
}
footer .box-footer ul li {
  text-align: center;
  color: #2b272f;
  padding: 8px;
  cursor: pointer;
}
@media (min-width: 1223px) {
  footer .box-footer ul li {
    text-align: left;
    padding: 8px;
    padding-left: 0px;
  }
}
footer .box-footer ul li:nth-child(1) {
  margin-top: 20px;
}
footer .box-footer ul li:hover {
  text-decoration: underline;
}

.no-visible {
  display: none;
}

/*# sourceMappingURL=style.css.map */
