@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100wv;
}

header {
  width: 100vw;
  min-height: 80px;
}
header .menu-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
header .menu-mobile .content-logo-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .menu-mobile .content-logo-button .wrapper-logo {
  margin-right: 150px;
}
header .menu-mobile .content-logo-button button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.menu-desplegable {
  width: 100%;
  height: auto;
  font-family: "Karla";
  background-color: #2b272f;
  color: #fafafa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  font-size: 1.3rem;
  font-weight: 400;
}
.menu-desplegable ul {
  list-style-image: none;
  list-style-type: none;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px;
  text-transform: uppercase;
}
.menu-desplegable li {
  text-align: center;
  padding: 8px;
  cursor: pointer;
  margin-top: 20px;
}
.menu-desplegable li:nth-child(1) {
  margin-top: 30px;
}
.menu-desplegable li:hover {
  text-decoration: underline;
}
.menu-desplegable button {
  border: 2px solid #fafafa;
  cursor: pointer;
  background-color: transparent;
  color: #fafafa;
  font-family: "Karla";
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: 20px 30px;
  width: 90%;
  margin-top: 15px;
}
.menu-desplegable button:hover {
  background-color: #fafafa;
  color: #2d2640;
}
.menu-desplegable img {
  margin-top: 60px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
main section {
  background-color: #2d2640;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
main section .wrapper-section {
  background-image: url("../images/bg-pattern-intro-left-mobile.svg");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -4px;
  height: 500px;
}
main section .wrapper-content-section {
  display: flex;
  flex-direction: column;
  width: 85%;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
}
main section .wrapper-content-section h1 {
  font-family: "DM Serif Display";
  font-size: 2.85rem;
  text-align: center;
  color: #fafafa;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 2.9rem;
}
main section .wrapper-content-section p {
  text-align: center;
  font-family: "Karla";
  color: #fafafa;
  margin-top: -20px;
  line-height: 1.6rem;
}
main section .wrapper-content-section button {
  border: 1px solid #fafafa;
  cursor: pointer;
  background-color: transparent;
  color: #fafafa;
  font-family: "Karla";
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 30px;
  margin-top: 15px;
}
main section .wrapper-content-section button:hover {
  background-color: #fafafa;
  color: #2d2640;
}
main .cards {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;
}
main .cards .pattern-left2 {
  position: absolute;
  right: 0%;
  top: -14%;
}
main .cards .line {
  border: 0.3px solid #2d2640;
  width: 40%;
  margin-top: 140px;
  opacity: 0.3;
}
main .cards h1 {
  font-family: "DM Serif Display";
  font-size: 2.85rem;
  text-align: center;
  color: #2b272f;
  letter-spacing: 0.1rem;
  font-weight: 400;
  line-height: 2.7rem;
}
main .cards .wrapper-cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 85%;
}
main .cards .wrapper-cards .card {
  display: flex;
  flex-direction: column;
  align-content: center;
}
main .cards .wrapper-cards .card .icon {
  width: 90px;
  height: 90px;
  align-self: center;
  margin-top: 40px;
}
main .cards .wrapper-cards .card h2 {
  align-self: center;
  font-family: "DM Serif Display";
  color: #2b272f;
  font-size: 1.8rem;
  font-weight: 400;
}
main .cards .wrapper-cards .card p {
  align-self: center;
  font-family: "Karla";
  text-align: center;
  color: #837d87;
  line-height: 1.8rem;
  margin-top: -5px;
}
main .we-work {
  width: 85%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  margin-top: 120px;
}
main .we-work .img-pattern-work {
  position: absolute;
  right: 0%;
}
main .we-work h2 {
  font-family: "DM Serif Display";
  font-size: 2.5rem;
  text-align: center;
  color: #fafafa;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 2.7rem;
  padding: 35px;
}
main .we-work button {
  border: 2px solid #fafafa;
  cursor: pointer;
  background-color: transparent;
  color: #fafafa;
  font-family: "Karla";
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 10px 30px;
  margin-top: -40px;
  margin-bottom: 80px;
}
main .we-work button:hover {
  background-color: #fafafa;
  color: #2d2640;
}

footer {
  margin-top: 120px;
  background-color: #fafafa;
  width: 100%;
  background-image: url("../images/bg-pattern-footer-mobile.svg");
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
}
footer .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 90px;
}
footer .header .wrapper-logo {
  align-self: center;
}
footer .header .social-media {
  align-self: center;
  margin: 20px;
}
footer .header .social-media i {
  cursor: pointer;
  margin: 5px;
}
footer .header .social-media i:hover svg path {
  fill: #2d2640;
}
footer .line-footer {
  border: 1px solid #837d87;
  opacity: 0.3;
  width: 85%;
  align-self: center;
}
footer .box-footer {
  font-family: "Karla";
  align-self: center;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .box-footer ul {
  color: #837d87;
  list-style-image: none;
  list-style-type: none;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px;
}
footer .box-footer ul li {
  text-align: center;
  color: #2b272f;
  padding: 8px;
  cursor: pointer;
}
footer .box-footer ul li:nth-child(1) {
  margin-top: 20px;
}
footer .box-footer ul li:hover {
  text-decoration: underline;
}

.no-visible {
  display: none;
}

/*# sourceMappingURL=style.css.map */
